@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

/* Fondo */
* {
  margin: 0;
  padding: 0;
}

/* Encabezado */
header {
  background-color: #875138;
  color: #fff;
  font-family: 'Amatic SC', cursive;
  font-size: 26px;
  padding: 20px;
  text-align: center;
  position: fixed; /* Fijar el encabezado en la parte superior */
  top: 0; /* Colocarlo en la parte superior */
  width: 100%; /* Ancho completo */
  z-index: 1000; /* Colocar el encabezado por encima de otros elementos */
}

header h1 {
  font-size: 36px; /* Tamaño grande para el título */
}

/* Navegación */
nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 75px;
}

nav a {
  text-decoration: none;
  color: #ffffff; /* Tono café oscuro para los enlaces */
  font-weight: bold;
  transition: color 0.3s ease; /* Transición de color suave al pasar el ratón */
}

nav a:hover {
  color: #e88335; /* Tono café más claro al pasar el ratón */
}

/* Estilos de la presentación */

.welcome-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.welcome-container img {
  width: 100%;
  height: auto;
  display: block;
}

/* Estilos del texto */

.texto-superpuesto-container {
  position: absolute;
  font-family: 'Amatic SC', cursive;
  color: #ffffff;
  top: 5.5em;
  right: 17.5em;
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 2.0vw;
  justify-content: flex-end;
  align-items: center;
}

.texto-superpuesto p {
  font-family: 'Amatic SC', cursive;
  color: #ffffff;
  font-weight: bold; 
  font-size: 2.1vw;
}

/* Estilo para la sección de preparación de pan */

#preparar-pan {
  background-color: #ded4c5;
  padding: 50px;
}

#preparar-pan h2 {
  margin-left: 120px;
  color: #603c28; /* Color de texto café oscuro */
  font-family: 'Amatic SC', cursive;
  font-size: 3.6vw;
  margin-bottom: 20px;
}

/* Estilo para la lista de pasos */
#preparar-pan ul {
  margin-left: 120px;
  list-style-type: decimal; /* Numeración decimal */
  padding-left: 20px; /* Espaciado izquierdo para los números */
  color: #603c28;
  font-family: 'Amatic SC', cursive;
  font-weight: bold; 
  font-size: 2.1vw;
}

/* Estilo para los elementos de la lista */
#preparar-pan li {
  margin-bottom: 10px; /* Espaciado inferior entre los pasos */
  line-height: 1.5; /* Espaciado de línea para una mejor legibilidad */
}

/* Secciones */
section {
  padding: 40px;
}

section h2 {
  font-size: 24px; /* Tamaño grande para los títulos de sección */
  color: #603c28; /* Tono café oscuro para los títulos de sección */
}

/* Párrafos de texto */
p {
  font-size: 18px; /* Tamaño de fuente para el texto normal */
  line-height: 1.5; /* Espaciado de línea agradable para la legibilidad */
  color: #333; /* Tono café más oscuro para el texto */
}

#nuestra-historia {
  background-color: #c5b39b;
  padding: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-container {
  text-align: justify;
  flex: 2;
  padding-left: 100px; /* Añade un espacio a la izquierda para separar el texto del borde izquierdo */
}

.text-container h2 {
  font-family: 'Amatic SC', cursive;
  font-size: 60px;
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
}

.text-container p {
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  color: #603c28;
}

.image-container {
  text-align: center;
  flex: 1;
  position: relative; /* Añade posicionamiento relativo para posicionar el nombre "Ana" */
}

.image-container img {
  border-radius: 50%;
  width: 275px;
  height: 275px;
}

.image-container p {
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 50px;
  color: #ffffff;
  margin-top: 10px; /* Agrega margen superior para separar el nombre de la imagen */
  font-weight: bold; /* Hace que el nombre sea más visible y negrita */
}

/* Estilos para la sección de Productos */
#productos {
  background-image: url('./images/tabla.jpg'); /* Ruta de la imagen de fondo */
  background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center center; /* Centra la imagen en la sección */
  padding: 5.5%;
}

#productos h2 {
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 75px;
  text-align: center; /* Centrar horizontalmente */
  margin-bottom: 50px; /* Espaciado inferior */
  color: #fff;
}

/* Estilo personalizado para el carrusel */
.custom-carousel {
  padding: 20px; /* Espaciado interno */
  max-width: 600px; /* Ancho máximo del carrusel */
  margin: 0 auto; /* Centrar el carrusel horizontalmente */
  overflow: hidden; /* Ocultar el contenido que se desborda */
}

.custom-carousel .carousel .thumbs-wrapper {
  display: none; /* Ocultar los puntos (dots) */
}

.custom-carousel .carousel .slide {
  display: flex; /* Hacer que los slides sean flexibles */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
}

/* Estilo para las imágenes dentro del carrusel */
.custom-carousel img {
  max-width: 100%; /* Las imágenes ocuparán un máximo del ancho del carrusel */
  height: auto; /* Mantener la proporción de aspecto original */
}



/* Estilos para la sección de Ordenar Ahora */
#ordenar-ahora {
  margin-left: 10%;
  margin-right: 10%;
}

#ordenar-ahora h2 {
  font-family: 'Dancing Script', cursive;
  color: #8e785d;
  font-size: 65px;
}

#ordenar-ahora p {
  font-family: 'Dancing Script', cursive;
  color: #8e785d;
  font-weight: bold;
  font-size: 32px;
}


/* Estilos para el contenedor de las opciones de suscripción */
.subscription-buttons {
  display: flex;
  justify-content: space-between;
}

.subscription-buttons h3 {
  font-family: 'Amatic SC', cursive;
  font-size: 35px;
}

/* Estilos para cada opción de suscripción */
.subscription-option {
  text-align: center;
  flex: 1;
  margin: 0 10px;
  padding: 20px;
}

/* Estilos para las imágenes dentro de las opciones de suscripción */
.subscription-option img {
  max-width: 100%; /* Evita que las imágenes sean más anchas que su contenedor */
  height: auto; /* Mantiene la proporción original de la imagen */
}

/* Estilos para los botones dentro de las opciones de suscripción */
.subscription-option button {
  background-color: #8e785d;
  color: #fff;
  font-family: 'Amatic SC', cursive;
  font-size: 32px;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.subscription-option button:hover {
  background-color: #8b5d40;
}

/* Estilo para la sección de Contacto */
#contacto {
  background-color: #c6b49c;
  padding: 50px; /* Espaciado interno */
  text-align: center; /* Centrar contenido horizontalmente */
}

#contacto h2 {
  font-family: 'Amatic SC', cursive;
  font-size: 55px; /* Tamaño de fuente para el título */
  margin-bottom: 20px; /* Espaciado inferior */
  color: #ffffff; /* Color de texto oscuro */
}

#contacto p {
  font-family: 'Amatic SC', cursive;
  font-size: 32px; /* Tamaño de fuente para los párrafos */
  font-weight: bold;
  line-height: 1.6; /* Espaciado entre líneas */
  margin-bottom: 10px; /* Espaciado inferior */
  color: #ffffff; /* Color de texto más claro */
}

/* Estilo para el enlace de correo electrónico */
#contacto a {
  text-decoration: none; /* Sin subrayado en los enlaces */
  color: #0073e6; /* Color de enlace azul */
}

#contacto a:hover {
  text-decoration: underline; /* Subrayado al pasar el cursor sobre el enlace */
}

/* Estilo para los iconos de redes sociales */
.social-icons {
  display: flex; /* Mostrar los iconos en línea */
  justify-content: center; /* Centrar horizontalmente */
  margin-top: 20px; /* Espaciado superior */
}

.social-icon {
  font-size: 80px; /* Tamaño de fuente de los iconos */
  margin: 0 60px; /* Espaciado horizontal entre iconos */
}

/* En tu archivo CSS */

/* Estilos para el pie de página */
footer {
  display: flex; /* Usar flexbox para alinear elementos */
  flex-direction: column; /* Apilar elementos verticalmente */
  align-items: center; /* Centrar elementos horizontalmente */
  justify-content: center; /* Centrar elementos verticalmente */
  text-align: center; /* Alinear texto en el centro */
  padding: 20px; /* Espaciado para el pie de página */
  background-color: #53423a; /* Color de fondo café */
  color: #fff; /* Color de texto opcional */
}

/* Estilos para el icono GiKnifeFork */
footer .gi-knife-fork {
  font-size: 75px; /* Tamaño del icono */
  margin-bottom: 10px; /* Espaciado inferior opcional */
}

/* Estilos para el texto de copyright */
footer .copyright {
  font-size: 14px; /* Tamaño del texto */
  user-select: none; /* Evita la selección de texto */
}